<li class="{{if @todo.isCompleted 'completed'}}">
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      aria-label="Toggle the completion of this todo"
      checked={{@todo.isCompleted}}
      {{ on 'change' (fn this.todoData.toggleCompletion @todo) }}
    >
    <label>{{@todo.text}}</label>
    <button
      type="button"
      class="destroy"
      title="Remove this todo"
      {{ on 'click' (fn this.todoData.remove @todo) }}
    ></button>
  </div>

  <input autofocus class="edit" value="Todo Text">
</li>